@model RecipeFinder.Models.Ingredient;

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddIngredient">
    Add Ingredient
</button>

<!-- Modal -->
<div class="modal fade" id="modalAddIngredient" tabindex="-1" aria-labelledby="modalAddIngredientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddIngredientLabel">ADD INGREDIENT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label class="formLabel">@Html.DisplayNameFor(model => model.IngredientNameId)</label>
                    @Html.TextBoxFor(model => model.IngredientNameId)
                    <span asp-validation-for="Ingredient.IngredientNameId" class="errorMessage"></span>
                </div>
                <div class="form-group">
                    <label class="formLabel">@Html.DisplayNameFor(model => model.NamePlural)</label>
                    @Html.TextBoxFor(model => model.NamePlural)
                    <span asp-validation-for="Ingredient.NamePlural" class="errorMessage"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="btnAddIngredient" name="btnAddIngredient" formaction=@Url.Action("AddIngredient") formmethod="post">Save</button>
            </div>
        </div>
    </div>
</div>



