body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.errorMessage {
    color: #FF0000;
}

/*--- navigation bar ---*/
.navbar {
    background: #6ab446;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
}


.navbar img {
    width: 40%;
}

.nav-link {
    margin-right: 1em !important;
}

    .nav-link:hover {
        color: #000;
    }

.navbar-collapse {
    justify-content: flex-end;
}

.pageMargin {
    margin: 10px 36px 10px 36px;
}

.centerWithPadding {
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}


.centerText {
    text-align: center;
}

.titleText {
    font-family: Georgia, Garamond, Times New Roman, Times, serif;
    font-size: 1.9em;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.subtitleText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin-top: 10px;
}

.feature .subtitleText {
    color: #4a4a4a;
}

    .feature .subtitleText:hover {
        color: #878787;
    }

.feature a:hover {
    text-decoration: none;
}

.leftColumnGutter {
    padding-right: 20px
}

.rightColumnGutter {
    padding-left: 20px
}

.textUnderline {
    border-bottom: 1px solid #000;
}

.homeTitle {
    width: 546px;
}

.homeForm {
    width: 90%;
}

label {
    font-size: 1em;
    font-weight: 500;
}

input {
    margin-bottom: 20px;
}

.list_no_bullets {
    list-style-type: none;
}

btn {
    margin-top: 10px;
}

.btn-light {
    background-color: #E88717;
    color: #FFF;
    font-weight:bold;
}

    .btn-light:hover {
        background-color: #F58E18;
        color: #fff;
    }

.div-list {
    padding: 5px;
}

.grey-gradient {
    background-image: linear-gradient(#F8F8F8, #ECECEC);
}

.div-list button {
    border-style: none;
    float: right;
}

a p {
    color: #575d5b;
}

a:hover p {
    color: #757d7a;
}

.listImageHeading {
    font-size: 21px;
}

.listImageText {
    font-size: 16px;
}


@media only screen and (max-width: 600px) {
    .centerWithPadding {
        width: 400px;
    }

    .homeTitle {
        text-align: center;
    }

    .titleText {
        font-size: 1.8em;
    }

    .subtitleText {
        font-size: 1em;
    }
}
/* Recipe List View */

.sectionButton {
    background: #fff;
    border: none;
    text-align: left;
}

    .sectionButton:focus {
        outline: none;
    }

/*/* Recipe Detail View*/

/*.header-image {
    background-image: url('images/IMG_8560.JPG');
    background-size: cover;
}*/

.footerCopyright {
/*    background: #6ab446;*/
    background-image: linear-gradient(#6ab446, #FFF);
    color: #FFF;
    /*background: #d4d4d4;*/
    text-align: center;
    padding: 20px 5px 20px 5px;
    margin-top: 20px;
    height:350px;
    clear: both;
}
